<<<<<<< HEAD
@import 'base/reset';
@import 'helpers/colors';
@import 'helpers/variables';
@import 'base/base.scss';
@import 'base/typography';

@import 'components/button';
@import 'components/carousel';
@import 'components/form';
@import 'components/nav';

.button {
  font-size: 40px;

  &__price {
    color: red;
  }

  &__text {
    color: white;
  }

  &--primary {
    background-color: blue;
  }

  &--secondary {
    background-color: gray;
  }
}
=======
//@import "helpers/index";
//@import "mixins/index";
//@import "base/index";

.nav{
  background-color: grey;
  .list-item{
    font-size: 14px;
    color: red;
  }
}
>>>>>>> ba418abcdd9574f4ee15a9effde79449d214c6c8
