// Primary colors
$pissYellow: #ecc417;
$darkGrey: #252e3b;
$dark: #0e1724;
$white: #fff;
$mystic: #e8edf1;
$oxford-blue: #3b4555;
$shuttle-gray: #5d636d;

//Base colors
$brand-color: $pissYellow;
$text-color: $white;