<<<<<<< HEAD
$red: #e8edf1;
$white: #fff;

$brand-color: $red;
=======
// Primary colors
$pissYellow: #ecc417;
$darkGrey: #252e3b;
$dark: #0e1724;
$white: #fff;
$mystic: #e8edf1;
$oxford-blue: #3b4555;
$shuttle-gray: #5d636d;

//Base colors
$brand-color: $pissYellow;
>>>>>>> ba418abcdd9574f4ee15a9effde79449d214c6c8
$text-color: $white;