

$font-size-1: 32px;
$font-size-2: 24px;
$font-size-3: 16px;
$font-size-4: 14px;
$font-size-5: 12px;


$spacing-1: 48px;
$spacing-2: 40px;
$spacing-3: 32px;
$spacing-4: 24px;
$spacing-5: 16px;
$spacing-6: 8px;
$spacing-7: 4px;

$font-light: 300;
$font-normal: 400;
$font-medium: 500;
$font-bold: 600;
$font-extra-bold: 700;